<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-4.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	>

    <bean id="propertyConfigurer" class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer">
        <property name="searchContextAttributes" value="true"/>
        <property name="contextOverride" value="true"/>
    </bean>

	<!--
		Activates various annotations to be detected in bean classes:
		Spring's @Required and @Autowired, as well as JSR 250's @Resource.
	-->
	<context:annotation-config/>
    
	<bean id="applicationData" class="com.rc.common.config.ApplicationData" init-method="load" />
	
	<!--
		Define all web service implementation beans 
	 -->
	<bean id="productBasedRESTfulServices" class="com.rc.ws.productapis.impl.ProductBasedRESTfulServicesImpl"/>
	<bean id="storeLocatorRESTfulServices" class="com.rc.ws.productapis.impl.StoreLocatorRESTfulServicesImpl"/>
	<bean id="categoryBasedRESTfulServices" class="com.rc.ws.productapis.impl.CategoryBasedRESTfulServicesImpl"/>
    
</beans>